@use "sass:math";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow: hidden;
}

#scene {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    position: relative;
    perspective: 1000px;
    animation: rotate-scene 60s linear infinite;
}

@keyframes rotate-scene {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

$spread: 20px;
$number: 10;
$off: 0.5 * ($number - 1) * $spread;
$speed: 5s;

@for $i from 0 to $number {
    @for $j from 0 to $number {
        .star:nth-child(#{$number * $i + $j + 1}) {
            $x: $i * $spread - $off;
            $y: $j * $spread - $off;
            --x: #{$x};
            --y: #{$y};
            --delay: #{ math.random() * $speed};
        }
    }
}

.star {
    position: absolute;
    opacity: 0;
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,hsl(57, 72%, 73%),#fff0);
    animation: animate-star #{$speed} var(--delay) infinite;
}


@keyframes animate-star {
    0% {
        opacity: 0;
        transform: translateX(var(--x)) translateY(var(--y)) translateZ(0px)
            rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: translateX(var(--x)) translateY(var(--y)) translateZ(1400px)
            rotateY(90deg);
    }
}